@import './fonts.css';

html,
body,
#app {
    height: 100%;
}

body {
    background-color: #25231e;
    color: #fffde3;
}

a {
    color: #FFDD55;
}

a:has(.author) {
    text-decoration: none;
}

#title {
    display: inherit;
    font-size: 1.5em;
}

article {
    font-size: 20px;
}

article * {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

article img {
    max-width: 128px;
    max-height: 128px;
}

article.large img {
    max-width: 256px;
    max-height: 256px;
}

article.small {
    max-height: 14em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

article p {
    font-size: 1em;
}

article h1 {
    font-size: 1.5em;
}

article h2 {
    font-size: 1.25em;
}

article h3 {
    font-size: 1em;
}

article h4 {
    font-size: 0.9em;
}

article h5 {
    font-size: 0.8em;
}

article h6 {
    font-size: 0.7em;
}
