@import './fonts.css';

html,
body,
#app {
    height: 100%;
}

#title {
    display: inherit;
    font-size: 1.5em;
}

article {
    font-size: 20px;
}

article * {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

article img {
    /* 16:9 */
    max-width: 384px;
    max-height: 216px;
}

article.large img {
    /* 16:9 */
    max-width: 512;
    max-height: 288px;
}

article.small {
    max-height: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

article p {
    font-size: 1em;
}

article h1 {
    font-size: 1.5em;
}

article h2 {
    font-size: 1.25em;
}

article h3 {
    font-size: 1em;
}

article h4 {
    font-size: 0.9em;
}

article h5 {
    font-size: 0.8em;
}

article h6 {
    font-size: 0.7em;
}
